.cell {
	height: 100px;
	width: 100px;
	color: purple;
	border-style: solid;
	border-color: purple;
	overflow: hidden;
	align-content: center;
}
.ttt-grid {
	left: auto
	right: auto;
}
#up {
	position: relative;
	top: 0;
}
#down {
    position: relative;
    bottom: 0;
}
#left {
    position: relative;
    left: 0;
}
#right {
    position: relative;
    left: 0;
}

.table, td, th{
	border: 5px solid green;
	
	width: 200px;
} 
tr{
	height: 20px;
}
td {
	/*background-color: yellow;*/
	/*height: 20px;
	width: 20px;*/

}